:root {
  --mono: ui-monospace, Consolas, monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

#root {
  width: 100%;
  max-width: 100%;
  min-height: 100svh;
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

code {
  font-family: var(--mono);
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  border-radius: 4px;
}
